* {
  border: 3px solid lightgray;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.Header {
  text-align: center;
  border: solid 3px yellowgreen;
}

.Header-header {
  background-color: rgb(0, 184, 222);
  height: 200px;
  padding: 20px;
  color: white;
}

.Header-title {
  font-size: 1.5em;
}

.Header-intro {
  font-size: large;
}
