* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

nav {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}

table {
  position: relative;
  padding: 30px;
  border-collapse: separate;
  box-shadow: 0 2px 2px #ccc;
  width: 800px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

label {
  margin-bottom: 70px;
}

input {
  margin: 10px;
  width: 260px;
}

button {
  background-color: rgb(0, 184, 222);
  color: white;
  border-radius: 2px;
  box-shadow: 0 2px 2px #ccc;
  position: relative;
  width: 100%;
}

select {
  margin-left: 10px;
  margin-right: 10px;
}

li {
  list-style: none;
}

.Header {
  text-align: center;
}

.Header-header {
  background-color: rgb(0, 184, 222);
  height: 200px;
  padding: 20px;
  color: white;
}

.Header-title {
  font-size: 1.5em;
}

.Header-intro {
  font-size: large;
}

.card {
  padding: 30px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px #ccc;
  width: 400px;
}

.card label {
  font-weight: bold;
}

.card span {
  border-bottom: 1px solid rgb(0, 184, 222);
}

.Link {
  padding: 20px;
}

.UsersManagement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.Users-success {
  text-align: center;
}

.hovered {
  border-bottom: 1px solid rgb(0, 184, 222);
}

.Error {
  color: red;
}

.Success {
  color: green;
}

.PaginationFooter {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.PaginationFooter ul {
  display: flex;
  justify-content: space-around;
  width: 25%;
  box-shadow: 0 2px 2px #ccc;
}

.PaginationFooter li {
  box-shadow: 0 2px 2px rgb(0, 184, 222);
  width: 30px;
  border: 1px solid rgb(0, 184, 222);
  text-align: center;
}

.PageNum {
  opacity: 50%;
  background-color: rgb(0, 184, 222);
  color: white;
  box-shadow: 0 2px 2px #ccc;
}

.PageNum-active {
  box-shadow: 0 2px 2px rgb(0, 184, 222);
  color: black;
}

.Users button {
  padding: 5px;
  margin: 10px;
  font-weight: bold;
  font-size: 16px;
  top: 30px;
}

.Cancel {
  background-color: #ccc;
  color: rgb(0, 184, 222);
}

.Delete {
  background-color: #ccc;
  color: rgb(0, 184, 222);
}

.Delete span {
  color: red;
  border-bottom: 1px solid red;
}
